*{
    margin:0px;
}
body {
    background-image:url(bg.jpg);
  }

.fl{
    float:left;
}

.mid{
    float:left;
    margin-left:2px;
}

.fr{
    float:right;
}

.bg1{
    height:650px;
    width:30%;
    filter: blur(0.8px);
}

.bg2{
    height:650px;
    width:30%;
    margin-left:7px;
    margin-left:450px;
}

.signal{
    height:80px;
    width:1%;
    background-color:darkgray;
    margin-left:323px;
    margin-bottom:-67px;
}

.signal1{
    height:6px;
    width:17%;
    background-color: darkgray;
    margin-left:290px;
    margin-top:-33px;
}

.signal2{
    margin-top:-17px;
    height:30px;
    width:1%;
    background-color: darkgray;
    margin-left:290px;
}

.signal3{
    margin-top:-30px;
    height:30px;
    width:1%;
    background-color: darkgray;
    margin-left:355px;
}

.signal4{
    margin-top:-27px;
    height:25px;
    width:1%;
    background-color:darkgray;
    margin-left:338px;
}

.signal5{
    margin-top:-26px;
    height:26px;
    width:1%;
    background-color: darkgray;
    margin-left:305px;
}

.railing{
    height:50px;
    width:20%;
    margin-left:811px;
    margin-top:-400px;
    border:3px solid #2C272E;
}

.railing1{
    background-color: #2C272E;
    height:50px;
    width:10%;
    margin-left:8px;
    margin-top:-397px;
}

.railing2{
    background-color: #2C272E;
    height:50px;
    width:10%;
    margin-right:7px;
    margin-top:-397px;
}

.railing3{
    margin-top:-345px;
    height:18px;
    width:100%;
    margin-left:-3px;
    border:3px solid #2C272E;
}

.railing4{
    background-color:brown;
    height:10px;
    width:5%;
    margin-left:812px;
    margin-top:-410px;
}

.ladder1{
    border:3px solid #2C272E;
    height:62px;
    width:40%;
    margin-left:46px;
    margin-top:-321px;
}

.ladder2{
    border:3px solid #2C272E;
     height:64.5px;
     width:40%;
     margin-left:46px;
     margin-top:-174px;
}

.col1{
    background-color: #2C272E;
    height:5px;
    width:100%;
    display: grid;
    margin-top:9px;
}

.railing5{
    background-color:#2C272E;
    height:50px;
    width:10%;
    margin-left:7px;
    margin-top:-250px;
}

.railing6{
    border:3px solid #2C272E;
    height:50px;
    width:20%;
    margin-left:811px;
    margin-top:91px;
}

.railing7{
    background-color:#2C272E;
    height:50px;
    width:10%;
    margin-top:-250px;
    margin-right:7px;
}

.railing8{
    border:3px solid #2C272E;
    height:18px;
    width:100%;
    margin-left:-3px;
    margin-top:-198px;
}

.railing9{
    height: 25px;
    width:100%;
    margin-left:-2px;
    border-left: 3px solid #2C272E;
}

.div1{
    background-color:#2C272E;
    height:15px;
    width:390px;
    margin-left:20px;
}

.div2 {
    background-color:grey;
    height:20px;
    width:380px;
    margin-left:25px;
}

.row{
    display:inline-flex;
    justify-content: space-evenly;
    margin-left:9.7px;
    height:20px;
    width:5%;
    background-color:#AAA492;
}

.div3 {
    background-color:#FFF8F3;
    height:50px;
    width:370px;
    margin-left:30px;
}

.box{
 height:50px;
 width:20%;
 background-color: darkgrey;
 margin-left:15px;
 border-radius:10px 10px 0 0;
}  

.semicircle{
    margin-left:7px;
    height:30px;
    width:60px;
    background-color:#EEEEEE;
    border-radius: 150px 150px 0 0;
    margin-top:20px;
}

.div4 {
    background-color:#4A403A;
    height:15px;
    width:380px;
    margin-left:25px;
}

.div5 {
    background-color:#2C272E;
    height:8px;
    width:350px;
    margin-left:38.8px;
}

.div6{
    background-color:grey;
    height:125px;
    width:350px;
    margin-left:38.8px;
}

.one{
    height:100px;
    width:32%;
}

.two{
    margin-left:7px;
    height:100px;
    width:32%;
}

.three{
    height:100px;
    width:32%;
}

.window{
    height:30px;
    width:50%;
    margin-left:23px;
    margin-top:28px;
    border:5px solid #AAA492;
    }

.window1{
        height:30px;
        width:50%;
        margin-left:23px;
        border:5px solid #AAA492;
        }
        
 .color{
background: linear-gradient(to bottom,skyblue, #C2FFF9);
 }

 .color1{
    background: linear-gradient(to bottom,#F7F7F7, lightblue);
     }
     
 .color2{
        background: linear-gradient(to right,#96C7C1, lightblue);
    }

.color3{
        background: linear-gradient(to bottom, #CEE5D0,#96C7C1);
         }

.color4{
    background: linear-gradient(to right,lightblue,#EADEDE);
             } 
            
 .color5{
background: linear-gradient(to right,lightblue,#9AE66E);
    } 

.color6{
        background: linear-gradient(to bottom,lightblue,#96C7C1);
            }  
 .door{
     height:199px;
     width:110%;
     background-color:#9D9D9D;
     margin-top:20px;
 }  
 
 .door1{
    height:15px;
    width:100%;
    margin-top:10px;
    background-color:#2C272E;
}

.door2{
    height:110px;
    width:60%;
    background-color: black;
    margin-left:27px;
}  

.door3{
    height:10px;
    width:100%;
    background-color: wheat;
} 

.door4{
    height:10px;
    width:20%;
    background-color:#2C272E;
    margin-left:8px;
    margin-top:14px;
} 

.door5{
    height:10px;
    width:110%;
    background-color:darkgrey;
    margin-left:20px;
} 

.door6{
    height:10px;
    width:90%;
    background-color:#2C272E;
    margin-right:-20px;
} 

.door7{
    margin-top:25px;
    margin-right:1px;
    height:70px;
    width:350%;
    background-color:grey;
} 

.door8{
    height:8px;
    width:8px;
    border-radius:50px;
    margin-top:30px;
    margin-left:1px;
    background-color:brown;
} 

.door9{
    height:10px;
    width:10px;
    border-radius:50px;
    margin-right:26px;
    background-color:wheat;
}

.door10{
    height:10px;
    width:10px;
    border-radius:50px;
    margin-left:98px;
    background-color:wheat;
}

.door11{
    height:36px;
    width:200%;
    background-color:#2C272E;
    margin-right:94px;
    margin-top:10px;
} 

.door12{
    margin-left:98px;
    height:36px;
    width:95%;
    background-color:#2C272E;
    margin-top:0px;
} 

.seperate{
    height:10px;
    width:313%;
    background-color:#4A403A;
    margin-top:120px;
}

.seperate1{
    height:10px;
    width:313%;
    background-color: #2C272E;
}

.seperate2{
    height:10px;
    width:313%;
    background-color: #4A403A;
    margin-top:125px;
}

.seperate3{
    background-color: #2C272E;
    height:10px;
    width:313%;
}

.div7{
    background-color:grey;
    height:94px;
    width:350px;
    margin-left:38.8px;
}

.div8{
    background-color:#4A403A;
    height:15px;
    width:350px;
    margin-top:15px;
    border:1px solid black;
}

.divv8{
    background-color:#2C272E;
    height:13px;
    width:124px;
    margin-top:31px;
    border:1px solid black;
}

.divvv8{
    background-color:#2C272E;
    height:12px;
    width:124px;
    border:1px solid black;
    margin-top:28px;
}

.divv1{
    height:26px;
    width:162px;
    margin-top:36px;
}

.divv2{
    height:26px;
    width:162px;
    margin-top:20px;
}

.div9{
    height:23px;
    width:56px;
    margin-top:-42px;
    margin-left:843px;
}

.div91{
    height:19px;
    width:23px;
    border:2px solid #2C272E;
    margin-left:1.5px;
}

.div92{
    height:19px;
    width:23px;
    border:2px solid #2C272E;
}

.divv9{
    height:18px;
    width:51px;
    border:2px solid #2C272E;
    margin-left:845px;
    margin-top:-19px;
}

.div10{
    margin-top:18px;
    margin-left:0px;
    height:20px;
    width:49.7px;
    position: relative;
    z-index: +1;
    border:2px solid #2C272E;
}

.div11{
    height:30px;
    width:25px;
    border:2px solid #2C272E;
}

.div12{
    margin-top:-3px;
    margin-left:0px;
    height:20px;
    width:23px;
    position: relative;
    z-index: +1;
    border:2px solid #2C272E;
}

.bloc{
    height:10px;
    width:350px;
    margin-left:30px;
    }

.bloc1{
    background-color:#2C272E;
    height:12px;
    width:50px;
    margin-left:25px;
}

.bloc2{
    background-color:#2C272E;
    height:12px;
    width:85px;
    margin-right:172px;
}

.block{
    height:40px;
    width:350px;
    margin-left:30px;
}

.block1{
    position: relative;
    z-index: -1;
    background-color:#9A9483;
    height:40px;
    width:40px;
    margin-left:30px;
}

.block2{
    position: relative;
    z-index: -1;
    background-color:#9A9483;
    height:40px;
    width:70px;
    margin-right:180px;
}

.t9{
    height:20px;
    width:35%;
    background-color:green;
    margin-top:35px;
    margin-right:130px;
    z-index:+1;
    position: relative;
}

.t10{
    background-color: #212121;
    height:90px;
    width: 55%;
    margin-right:120px;
    z-index:+1;
    position: relative;
}

.t11{
    background:linear-gradient(to bottom, darkgreen, #77D970);
    height:90px;
    width: 50%;
}

.t12{
    background:linear-gradient(to bottom, green, #77D970);
    height:90px;
    width: 50%;
}

.t13{
    height:20px;
    width:35%;
    background-color:brown;
    margin-right:130px;
    z-index:+1;
    position: relative;
}

.t14{
    position: relative;
    z-index: 1;
    height:35px;
    width:8%;
    background-color: brown;
    margin-right:146px;
}

.t15{
    height:10px;
    width:38%;
    background-color:#212121;
    margin-right:128px;
    margin-top:1px;
}

.t16{
    height:25px;
    width:62%;
    background-color: #212121;
    margin-right:115px;
    position: relative;
}

.truck{
    animation-name:truck-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition:transform 5s;
    width:85%;
    height:250px;
    margin-top:400px;
}

@keyframes truck-animation{

    100%{
        transform:translateX(560px);
    }

}